@model IEnumerable<UserManagement.Data.Entities.UserActionLog>

@{
    ViewData["Title"] = "Logs";
}

<h2>Logs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Action</th>
                <th>Timestamp (UTC)</th>
                <th>Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.UserId</td>
                    <td>@log.Action</td>
                    <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        @(string.IsNullOrEmpty(log.Details)
                            ? "No additional information to show."
                            : (log.Details.Length > 50
                            ? log.Details.Substring(0, 50) + "…"
                            : log.Details))
                    </td>

                    <td>
                        <a asp-controller="Logs" asp-action="Details" asp-route-id="@log.Id" class="btn btn-sm btn-primary">
                            View
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
