@using UserManagement.Services.Models.Logging
@model UserManagement.Web.Models.Users.UserDetailsViewModel


<div class="table-responsive">
    <table class="table table-striped">
        <thead>            
            <tr>
                <th>Id: @Model.Id</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Forename: @Model.Forename</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Surname: @Model.Surname</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Email: @Model.Email</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Date of Birth: @Model.DisplayDateOfBirth</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Account Active: @Model.IsActive</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<h3>Action History</h3>

@if (ViewData["UserLogs"] is IEnumerable<UserActionLog> userLogs && userLogs.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Action</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in userLogs)
            {
                <tr>
                    <td>@log.Timestamp</td>
                    <td>@log.Action</td>
                    <td>@log.Details</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No actions have been performed on this user yet.</p>
}
